<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lauguobin.www.dao.BorrowReturnDao">
	
	<select id="booksAmont" parameterType="int"  resultType="int">
		select amont from book where id = #{id}
	</select>

	<select id="getAllTempBorrow" resultMap="borrowInfo">
		SELECT u.`username`,b.`id`,b.`book_name`,b.`author`,b.`date` FROM USER u,borrow b WHERE u.`id`=b.`user_id` AND is_accepted = 0;
	</select>
	
	<select id="getUserHave"  parameterType="int" resultMap="bookMap">
		SELECT id,book_name,author FROM borrow WHERE user_id = #{id} and is_accepted = 1;
	</select>
	
	<select id="getUserBooks" parameterType="int" resultMap="bookMap">
		SELECT id,book_name,author FROM borrow WHERE user_id = #{id};
	</select>
	
	<select id="getUserBooksCount" parameterType="int" resultType="int">
		SELECT COUNT(user_id) FROM borrow WHERE user_id = #{id};
	</select>
	
	<insert id="insertRequest" parameterType="BorrowInfo">
		INSERT INTO borrow VALUES(null, #{userId} , #{bookid} , #{bookName} , #{author} , #{date} , 0 )
	</insert>
	
	<update id="acceptBorrow" statementType="CALLABLE" parameterMap="acceptMap">
		CALL accept_borrow(?,?,?);
	</update>
	
	<delete id="deleteRequest" parameterType="BorrowInfo">
		delete from borrow where user_id= #{userId} and id=#{bookid};
	</delete>

	<select id="returnBook" statementType="CALLABLE" parameterMap="returnMap">
		CALL return_book(?,?,?,?);
	</select>
	
	<resultMap type="Book" id="bookMap">
		<id property="bookid" column="id"/>
		<result property="bookName" column="book_name"/>
		<result property="author" column="author"/>
	</resultMap>
	
	<resultMap type="BorrowInfo" id="borrowInfo">
		<id property="bookid" column="id"/>
		<result property="username" column="username"/>
		<result property="bookName" column="book_name"/>
		<result property="author" column="author"/>
		<result property="date" column="date"/>
	</resultMap>
	
	<parameterMap type="java.util.Map" id="returnMap">
		<parameter property="userId" mode="IN" jdbcType="INTEGER"/>
		<parameter property="id" mode="IN" jdbcType="INTEGER"/>
		<parameter property="returnDay" mode="IN" jdbcType="VARCHAR"/>
		<parameter property="other" mode="IN" jdbcType="VARCHAR"/>
	</parameterMap>
	
	<parameterMap type="java.util.Map" id="acceptMap">
		<parameter property="0" mode="IN" jdbcType="INTEGER"/>
		<parameter property="1" mode="IN" jdbcType="INTEGER"/>
		<parameter property="2" mode="IN" jdbcType="DATE"/>
	</parameterMap>
</mapper>