<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lauguobin.www.dao.BorrowReturnDao">
	
	<select id="booksAmont" parameterType="int"  resultType="int">
		select amont from book where id = #{id}
	</select>

	<select id="getAllTempBorrow" resultMap="borrowInfo">
		SELECT u.`username`,b.`id`,b.`bookName`,b.`author`,b.`date` FROM USER u,borrow b WHERE u.`userId`=b.`userId` AND isAccepted = 0;
	</select>
	
	<select id="getUserHave"  parameterType="int" resultMap="bookMap">
		SELECT id,bookName,author FROM borrow WHERE userId = #{id} and isAccepted = 1;
	</select>
	
	<select id="getUserBooks" parameterType="int" resultMap="bookMap">
		SELECT id,bookName,author FROM borrow WHERE userId = #{id};
	</select>
	
	<select id="getUserBooksCount" parameterType="int" resultType="int">
		SELECT COUNT(userId) FROM borrow WHERE userId = #{id};
	</select>
	
	<insert id="insertRequest" parameterType="BorrowInfo">
		INSERT INTO borrow VALUES( #{userId} , #{bookid} , #{bookName} , #{author} , #{date} , 0 )
	</insert>
	
	<update id="acceptBorrow" statementType="CALLABLE" parameterMap="acceptMap">
		CALL acceptBorrow(?,?,?);
	</update>
	
	<delete id="deleteRequest" parameterType="BorrowInfo">
		delete from borrow where userId= #{userId} and id=#{bookid};
	</delete>

	<select id="returnBook" statementType="CALLABLE" parameterMap="returnMap">
		CALL returnBook(?,?,?,?);
	</select>
	
	<resultMap type="Book" id="bookMap">
		<id property="bookid" column="id"/>
		<result property="bookName" column="bookName"/>
		<result property="author" column="author"/>
	</resultMap>
	
	<resultMap type="BorrowInfo" id="borrowInfo">
		<id property="bookid" column="id"/>
		<result property="username" column="username"/>
		<result property="bookName" column="bookName"/>
		<result property="author" column="author"/>
		<result property="date" column="date"/>
	</resultMap>
	
	<parameterMap type="java.util.Map" id="returnMap">
		<parameter property="userId" mode="IN" jdbcType="INTEGER"/>
		<parameter property="id" mode="IN" jdbcType="INTEGER"/>
		<parameter property="returnDay" mode="IN" jdbcType="VARCHAR"/>
		<parameter property="other" mode="IN" jdbcType="VARCHAR"/>
	</parameterMap>
	
	<parameterMap type="java.util.Map" id="acceptMap">
		<parameter property="userId" mode="IN" jdbcType="INTEGER"/>
		<parameter property="bookid" mode="IN" jdbcType="INTEGER"/>
		<parameter property="date" mode="IN" jdbcType="VARCHAR"/>
	</parameterMap>
</mapper>