<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="logMapper">
	
	<select id="allLogs" resultType="Log">
		SELECT u.`username`,l.`id`,l.`bookName`,l.`author`,l.`borrowDay`,l.`returnDay`,l.`other` FROM USER u,LOG l WHERE u.`userId`=l.`userId` ;
	</select>
	
	<select id="oneUserLogs" parameterType="int" resultType="Log">
		SELECT u.`username`,l.`id`,l.`bookName`,l.`author`,l.`borrowDay`,l.`returnDay`,l.`other` FROM USER u,LOG l WHERE u.`userId`=l.`userId` AND u.`userId`=#{id};
	</select>
	
	<select id="getBookBorrowDay" parameterType="Log"  resultType="String">
		SELECT borrowDay FROM LOG WHERE userId = #{userId} AND id = #{id} AND other = '未还'
	</select>
</mapper>