<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.SearchBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogShow</servlet-name>
    <servlet-class>com.lauguobin.www.view.LogShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LibraryShowServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.LibraryShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuditServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.AuditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BorrowManageServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.BorrowManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BorrowRequestServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.BorrowRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogShowServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.LogShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.RequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.UserSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserShowServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.manager.UserShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BorrowFavourateServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.student.BorrowFavourateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BorrowPageServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.student.BorrowPageShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFavourateServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.student.DeleteFavourateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReturnServlet</servlet-name>
    <servlet-class>com.lauguobin.www.view.student.ReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuLogShow</servlet-name>
    <servlet-class>com.lauguobin.www.view.student.StuLogShow</servlet-class>
  </servlet>
  
  <!-- 编码过滤器 -->
 	<filter>
 		<filter-name>login</filter-name>
 		<filter-class>com.lauguobin.www.util.UserFilter</filter-class>
 		<init-param>
 			<param-name>encoding</param-name>
 			<param-value>utf-8</param-value>
 		</init-param>
 	</filter>
 	<filter-mapping>
 		<filter-name>login</filter-name>
 		<url-pattern>/*</url-pattern>
 	</filter-mapping>
 
<!-- 请求url日志记录过滤器 -->
 	<filter>
 		<filter-name>manager</filter-name>
 		<filter-class>com.lauguobin.www.util.ManagerFilter</filter-class>
 	</filter>
 	<filter-mapping>
 		<filter-name>manager</filter-name>
 		<url-pattern>/manager/*</url-pattern>
 	</filter-mapping>
  
   	<filter>
 		<filter-name>student</filter-name>
 		<filter-class>com.lauguobin.www.util.StudentFilter</filter-class>
 	</filter>
 	<filter-mapping>
 		<filter-name>student</filter-name>
 		<url-pattern>/student/*</url-pattern>
 	</filter-mapping>
  
  <servlet-mapping>
    <servlet-name>StuLogShow</servlet-name>
    <url-pattern>/StuLogShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReturnServlet</servlet-name>
    <url-pattern>/ReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFavourateServlet</servlet-name>
    <url-pattern>/DeleteFavourateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorrowPageServlet</servlet-name>
    <url-pattern>/BorrowPageShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorrowFavourateServlet</servlet-name>
    <url-pattern>/BorrowFavourateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/UserSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogShowServlet</servlet-name>
    <url-pattern>/LogShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorrowRequestServlet</servlet-name>
    <url-pattern>/BorrowRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorrowManageServlet</servlet-name>
    <url-pattern>/BorrowManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuditServlet</servlet-name>
    <url-pattern>/AuditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LibraryShowServlet</servlet-name>
    <url-pattern>/LibraryShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogShow</servlet-name>
    <url-pattern>/LogShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookSerblet</url-pattern>
  </servlet-mapping>
  
  
  
  
    <!-- Spring应用上下文， 理解层次化的ApplicationContext -->
  <context-param>
 		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext*.xml</param-value>
  </context-param>
  
  <!-- 配置spring监听器 在服务器运行时启动 -->
  <listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  
  <!-- DispatcherServlet, Spring MVC的核心 -->
  <servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- DispatcherServlet对应的上下文配置， 默认为/WEB-INF/$servlet-name$-servlet.xml
		 -->
		<init-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>classpath*:mvc-dispatcher-servlet.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
	    <!-- mvc-dispatcher拦截所有的请求-->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>